* {
  margin: 0;
  padding: 0;
}
body {
  background: cadetblue;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}
.nav a {
  text-decoration: none;
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav a:hover {
  color: #140a0a;
}
.link {
  display: flex;
  -webkit-writing-mode: vertical-rl;
  justify-content: flex-end;
}
.link a {
  text-decoration: none;
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.imgFace {
  display: flex;
  margin: 0 auto;
  border-radius: 250px;
}
.title {
  margin: 130px 0 0 0;
  display: flex;
  justify-content: center;
  color: var(--Black, #070707);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 50px;
}
.text {
  color: #fff;
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}
.frame {
  display: flex;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}
.gridGroup {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.groupTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #7a52b3;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 1);
}
.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
@media (max-width: 320px) {
  .container{
    max-width: 280px;
  }
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
  .gridGroup{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .gridGroup img{
    margin: 0 auto;
    justify-content: center;
  }
  .group1{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .group2{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .star{
    display: flex;
    flex-direction: row;
  }
}
